{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}

<div class="container login-box">

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <h2>Rejestracja</h2>

    <p>Utwórz konto przez Google:</p>

     <form method="post" action="{% provider_login_url 'google' process='signup' %}">
    {% csrf_token %}
    <button type="submit" class="google-btn">
        <img src="{% static 'img/google_icon.png' %}" alt="Google" class="google-icon">
        Kontynuuj z Google
    </button>
    </form>

    <p>Lub utwórz konto tradycyjnie:</p>

    <form method="POST" action="{% url 'account_signup' %}">
        {% csrf_token %}
        
        
        
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Nazwa użytkownika:</label>
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Adres email:</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.password1.id_for_label }}">Hasło:</label>
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>
        <div class="form-group">
            <label for="{{ form.password2.id_for_label }}">Powtórz hasło:</label>
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>

        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}

        <button type="submit">Utwórz konto</button>
    </form>
    <p>Masz już konto?
        <a href="{% url 'account_login' %}">Zaloguj się</a>
    </p>
</div>

{% endblock %}
