{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}

<div class="container login-box">
    <h2>Rejestracja</h2>

    <p>Utwórz konto przez Google:</p>

     <form method="post" action="{% provider_login_url 'google' process='signup' %}">
    {% csrf_token %}
    <button type="submit" class="google-btn">
        <img src="{% static 'img/google_icon.png' %}" alt="Google" class="google-icon">
        Kontynuuj z Google
    </button>
    </form>

    <p>Lub utwórz konto tradycyjnie:</p>

    <form method="POST" action="{% url 'account_signup' %}">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Nazwa użytkownika" required>

        <input type="email" name="email" placeholder="adres email" required>

        <input type="password" name="password1" placeholder="hasło" required>

        <input type="password" name="password2" placeholder="powtórz hasło" required>

        <button type="submit">Utwórz konto</button>
    </form>
    <p>Masz już konto?
        <a href="{% url 'account_login' %}">Zaloguj się</a>
    </p>
</div>

{% endblock %}
