{% extends "base.html" %}
{% block content %}
<form 
    method="post"
    enctype="multipart/form-data"
>
    {% csrf_token %}
    <label>Tytuł:</label>
    <input type="text" name="title" required><br>

    <label>Opis:</label>
    <textarea name="description" required></textarea><br>

    <label>Cena:</label>
    <input type="number" name="price" required><br>

    <label>Kategoria:</label>
    <select name="category">
        <option value="">Brak</option>
        {% for cat in categories %}
            <option value="{{ cat.id }}">{{ cat.name }}</option>
        {% endfor %}
    </select><br>

    <label>Zdjęcie:</label>
    <input type="file" name="image"><br><br>

    <button type="submit">Dodaj ogłoszenie</button>
</form>
{% endblock %}



