{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}


<div class="container login-box">
    <h2>Logowanie</h2>


    <p>Zaloguj się przez konto google</p>

   <form method="post" action="{% provider_login_url 'google' process='lgoin' %}">
    {% csrf_token %}
    <button type="submit" class="google-btn">
        <img src="{% static 'img/google_icon.png' %}" alt="Google" class="google-icon">
        Kontynuuj z Google
    </button>
    </form>

    <!-- Tradycyjny formularz logowania -->
    <p>Lub zaloguj się tradycyjnie:</p>
    <form method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <input type="text" name="login" placeholder="Nazwa użytkownika lub email" required>
        <input type="password" name="password" placeholder="Hasło" required>
        <button type="submit">Zaloguj</button>
    </form>
    <p>Nie masz konta? <a href="{% url 'register' %}">Zarejestruj się</a></p>
</div>
{% endblock %}
